.layout-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 20px 50px;
  height: 65vh;
}

.center {
  text-align: center;
}

.error {
  color: red;
}
.btn {
  border: 1px solid #eee;
  padding: 5px 20px;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
  background-color: grey;
  color: whitesmoke;
}
